/* Insert your style here */

:root {
	--width: 512px;
	--color-motive: #8AE234CC;
}

body {
	background-image: url('../img/caro_bg.jpeg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	
}

h3 {
	margin-top: 0;
}

.header-container {
	display: block;
}

.body-container {
	width: 90%;
	max-width: 1024px;
	min-width: 330px;
	margin-left: auto;
	margin-right: auto;
	padding: 0;
	display: block;
}

.main-title {
	font-size: 64px;
}

.about {
	background-color: var(--color-motive);
}

.card img {
	height: 140px;
	margin-top: 5px;
}

.stealth-link:hover {
	color: var(--color-motive);
}
