/* Insert your style here */

:root {
	/* --colour-motive: #A1E85D; */
	--colour-motive: white;
	--bg-colour: black;
	--link-colour: white;
	--card-colour: #888A85;
	--width: 1024px;
}

body {
	margin: 0;
	padding: 0;
}

a {
	color: var(--link-colour);
}

.header-container {
	background-color: var(--colour-motive);
	display: block;
	margin-bottom: 0;
	padding-bottom: 0;
}

.body-container {
	background-image: url('../img/caro_bg.jpeg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	/* background-position: right; */
	display: block;
}

.footer-container {
	background-color: var(--colour-motive);
	padding-top: 32px;
}

#main-title {
	font-size: 72px;
}

.sub-title {
	font-size: 16px;
}

.navbar {
	background-color: var(--colour-motive);
	margin: 0 auto;
	padding: 0.5em 0;
}

.navbar ul {
	margin: 0;
}

.container {
	background-color: var(--card-colour);
	color: black;
	max-width: var(--width);
	margin-left: auto;
	margin-right: auto;
}

.maintenance {
	padding: 0.5em;
}

.about {
	background-color: var(--colour-motive);
}

.card {
	background-color: var(--card-colour);
	color: black;
	max-width: var(--width);
}

.card img {
	height: 140px;
	margin-top: 5px;
}

.stealth-link:hover {
	color: var(--card-colour);
}

.current-show {
	/* background-color: var(--color-motive); */
	font-weight: bold;
}

.first-item {
	padding-left: 0;
}

.last-item {
	padding-right: 0;
}

@media (max-width: 767px) {
	.body-container {
		padding: 10px;
	}
}