/*
	This is part of myF, a CSS framework developed by Marcelo Freri.
*/


/* Variables */

:root {
	/* Colours */
	--text-colour:  #4a4a4a;
	--bg-colour: #F5F5F5;
	--stealth-hover: red;
	--link-colour: #729FCF;
	--hint-colour: #FFF38E;
	--colour-motive: steelblue;

	/* Colours in dark mode */
	--text-dark-mode: lightgray;
	--bg-dark-mode: #303841;
	--stealth-hover-dark: white;

	/* Fonts */
	/* The font files are setup in fonts.css */
	--title-font: 'AvantGarde';
	--text-font: 'BellGothic';
	--maintenance-font: 'Andale';
	/* Sizes */
	--small-font: 12px;
	--medium-font: 16px;
	--large-font: 32px;

	/* Margins */
	/* Extra Small */
	--small-gap-xs: 0.5em;
	--medium-gap-xs: 1em;
	--large-gap-xs: 2em;
	/* Medium */
	--small-gap: 1em;
	--medium-gap: 2em;
	--large-gap: 4em;
	/* Extra Large */
	--small-gap-xl: 2em;
	--medium-gap-xl: 4em;
	--large-gap-xl: 8em;

	/* US complaint */
	--text-color: var(--text-colour);
	--bg-color: var(--bg-colour);
	--link-color: var(--link-colour);
	--hint-color:  var(--hint-colour);
	--color-motive:  var(--colour-motive);
}